- name: Deploy Full Stack Application
  hosts: localhost
  gather_facts: false
  vars_files:
    - vars/main.yml
    - vars/secrets.yml
  tasks:
    - name: Login to Docker Hub
      community.docker.docker_login:
        username: "{{ DOCKER_USERNAME }}"
        password: "{{ DOCKER_PASSWORD }}"

    - name: Build and push all images
      community.docker.docker_image:
        name: "{{ item.name }}"
        tag: "{{ item.tag }}"
        source: build
        build:
          path: "{{ item.path }}"
        push: yes
      loop: "{{ images }}"

    - name: Create db_password.txt dynamically
      copy:
        dest: ./vars/db_password.txt

        content: "{{ DB_PASSWORD }}"

    - name: Deploy containers using Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ playbook_dir }}"
        state: present
        build: always
        pull: always

   
